<div class="css-wrapper">
  <div class="full-column">
    Here we are going to animate these divs as if a gift is opening!
  </div>
  <div class="full-column-offset">
    <div class="show-media" id="top-media" >
      <img src="./public/assets/nautica/top-half.png"  class="unwrap-img-right">
    </div>
    <div class="show-media" id="bottom-media">
      <img src="./public/assets/nautica/bottom-half.png" class="unwrap-img-left">
    </div>

    <div id="stetson">
      <div class="show-media " id="stetson-top-wrapper">
        <img src="./public/assets/stetson/top-half.png" id="stetson-img-top">
      </div>
      <div class="show-media " id="stetson-btm-wrapper">
        <img src="./public/assets/stetson/bottom-half.png" id="stetson-img-btm">
      </div>
    </div>


    <div class="top-wrapper">
    </div>
    <div class="bottom-wrapper">
    </div>

  </div>

</div>
<div class="btn-wrapper">
    <div class"btn-group">
      <button id="launch-wrappers">Launch</button>
    </div>
  </div>
</div>
