<h1 class="h1">New Lead!</h1>
<p><strong>A Potential customer has inquired about your services reach out now!</strong></p>
<h2 class="h2">See details below:</h2>
<ol>
    <li>Name: {{name}}</li>
    <li>Email: {{email}}</li>
    <li>Phone: {{phone}}</li>
</ol>
