<div class="form-container">
  <h1 id="form-title">Form Submitter <br  />
    <span id="small">The form will submit and email you or a specified account with the information below!</span>
  </h1>
  <form id="test-form"  method="POST" name="myForm" action="/">
    <div class="inputs">
      <div class="input-block" id="name-input">
        <label for="name">Name</label>
        <input type="text" name="name" value="" maxlength="30" id="name" />
      </div>
      <div class="input-block" id="email-block">
        <label for="email">Email</label>
        <input type="email" name="email" value="" maxlength="99" id="email" />
      </div>
      <div class="input-block" id="phone-block">
        <label for="phone">Phone</label>
        <input type="text" name="phone" value="" maxlength="12" id="phone" />
      </div>
      <div class="input-block" id="button-block">
        <button id="submit-form" type="submit">Submit!</button>
      </div>
    </div>
  </form>
</div>
